<!DOCTYPE html>
<html>
<head>
  <title>Spiiiffy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="/css/mirador-combined.css">
  <style type="text/css">
    body { padding: 0; margin: 0; overflow: hidden; }
    #viewer { background: #333 url(/images/debut_dark.png) left top repeat; width: 100%; height: 100%; position: fixed; }

  </style>
</head>
<body>

<%= yield %>

<script src="/mirador.js"></script>
</body>
</html>
